---
import { Formatter } from "@/utils/formatter"
import { Image } from "astro:assets"
import type { CollectionEntry } from "astro:content"

interface Props {
  post: CollectionEntry<"blog">
}

const { post } = Astro.props
const frontmatter = post.data
---

<div class="lg:flex">
  <Image
    src={frontmatter.image}
    alt={frontmatter.title}
    width="500"
    height="500"
    quality="low"
    loading="lazy"
    transition:name={`${post.slug}-image`}
    class="object-cover w-full h-56 rounded-lg lg:w-64"
  />

  <div class="flex flex-col justify-between py-6 lg:mx-6">
    <a
      href={`/posts/${post.slug}`}
      class="text-xl font-semibold text-gray-800 hover:underline dark:text-white"
    >
      {frontmatter.title}
    </a>

    <span class="text-sm text-gray-500 dark:text-gray-300">
      {Formatter.formatDate(frontmatter.date)}
    </span>
  </div>
</div>
